<ion-view view-title="Menu">
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" href="#/create">
                <i class="icon ion-plus-circled"></i>
                Create New Item
            </a>
            <a class="item item-icon-left" href="#/view">
                <i class="icon ion-eye"></i>
                See All Items
            </a>
            <a class="item item-icon-left" href="#/gin">
                <i class="icon ion-ios-pricetag"></i>
                New Goods Issue Note
            </a>
            <a class="item item-icon-left" href="#/grn">
                <i class="icon ion-ios-pricetag-outline"></i>
                New Goods Receive Note
            </a>
          </div>
    </ion-content>
</ion-view>
